<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<!-- 公共JS,CSS引入 -->
	<div th:replace="admin/common/_meta::header"></div>
<title>基本设置</title>
</head>
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页
	<span class="c-gray en">&gt;</span>
	系统管理
	<a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a>
</nav>
<div class="page-container">
	<form class="form form-horizontal" th:action="@{~/system}" method="post">
		<div id="tab-system" class="HuiTab">
			<div class="tabCon">
				<div class="row cl">
					<label class="form-label col-xs-4 col-sm-2">
						<span class="c-red">*</span>
						网站简介：</label>
					<div class="formControls col-xs-8 col-sm-9">
						<input type="text" id="desc" name="desc" th:value="${profile.desc}" class="input-text">
					</div>
				</div>
				<div class="row cl">
					<label class="form-label col-xs-4 col-sm-2">
						<span class="c-red">*</span>
						昵称：</label>
					<div class="formControls col-xs-8 col-sm-9">
						<input type="text" id="name" name="name" th:value="${profile.name}" class="input-text">
					</div>
				</div>
				<div class="row cl">
					<label class="form-label col-xs-4 col-sm-2">
						<span class="c-red">*</span>
						头像链接：</label>
					<div class="formControls col-xs-8 col-sm-9">
						<input type="text" id="image" name="image" th:value="${profile.image}" class="input-text">
					</div>
				</div>
				<div class="row cl">
					<label class="form-label col-xs-4 col-sm-2">
						<span class="c-red">*</span>
						所在地：</label>
					<div class="formControls col-xs-8 col-sm-9">
						<input type="text" id="place" name="place" th:value="${profile.place}" class="input-text">
					</div>
				</div>
				<div class="row cl">
					<label class="form-label col-xs-4 col-sm-2">
						<span class="c-red">*</span>
						爱好：</label>
					<div class="formControls col-xs-8 col-sm-9">
						<input type="text" id="hobby" name="hobby" th:value="${profile.hobby}" class="input-text">
					</div>
				</div>
				<div class="row cl">
					<label class="form-label col-xs-4 col-sm-2">
						<span class="c-red">*</span>
						QQ：</label>
					<div class="formControls col-xs-8 col-sm-9">
						<input type="text" id="qq" name="qq" th:value="${profile.qq}" class="input-text">
					</div>
				</div>
			</div>
		</div>
		<div class="row cl">
			<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-2">
				<button class="btn btn-primary radius" id="submit"><i class="Hui-iconfont">&#xe632;</i> 保存</button>
				<button class="btn btn-default radius" type="button">&nbsp;&nbsp;取消&nbsp;&nbsp;</button>
			</div>
		</div>
	</form>
</div>

<!--_footer 作为公共模版分离出去-->
<div th:replace="admin/common/_footer">
</div>
<!--/_footer 作为公共模版分离出去-->

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" th:src="@{~/admin/lib/My97DatePicker/4.8/WdatePicker.js}"></script>
<script type="text/javascript" th:src="@{~/admin/lib/jquery.validation/1.14.0/jquery.validate.js}"></script>
<script type="text/javascript" th:src="@{~/admin/lib/jquery.validation/1.14.0/validate-methods.js}"></script>
<script type="text/javascript" th:src="@{~/admin/lib/jquery.validation/1.14.0/messages_zh.js}"></script>
<script type="text/javascript">
$(function(){
	$('.skin-minimal input').iCheck({
		checkboxClass: 'icheckbox-blue',
		radioClass: 'iradio-blue',
		increaseArea: '20%'
	});
	$("#tab-system").Huitab({
		index:0
	});
	$("#submit").click(function(){
		$.ajax({
			type:'post',
			url:'',
			data:{
				desc:$("#desc").val(),
				name:$("#name").val(),
				image:$("#image").val(),
				place:$("#place").val(),
				hobby:$("#hobby").val(),
				qq:$("#qq").val(),
			},
			success:function () {
				layer.msg('操作成功', {icon: 1});
			},
			error:function () {
				layer.msg('操作失败', {icon: 2});
			}
		})
		//阻止页面刷新
		return false;
	})
});
</script>
<!--/请在上方写此页面业务相关的脚本-->
</body>
</html>
