<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>[[${article.title}]]</title>
    <link rel="stylesheet" type="text/css" th:href="@{~/index/css/article-detail.css}">
    <div th:replace="index/common/_meta::header"></div>
</head>

<body>
<div th:replace="index/common/_header::header(link)"></div>

<!--主体-->
<section class="main">
    <input hidden id="user_id" name="user_id" value="">
    <input hidden id="article_id" name="article_id" value="24">
    <div class="left-box">

        <div class="article-container">
            <div class="sort-box">
                <span class="location fl c-666">
                    <span class="at-sort-detail c-666">当前位置：
                      <a href="/">首页</a> >
                      <a th:href="'/category?cid='+${article.cateId}">[[${article.cateName}]]</a>
                    </span>
                </span>
            </div>
            <div class="article-content markdown-body">

                <h1 style="margin: 10px 0">[[${article.title}]]</h1>
                <div class="writer-info">
                    <span style="margin: 5px 0;">作者: </span>
                    <span id="writer">admin </span>
                    <span id="write-time">[[${#dates.format(article.createTime,'yyyy-MM-dd HH:mm:ss')}]]</span>
                </div>
                <div th:utext="${article.content}">
                </div>
            </div>

            <div class="prev-next">
                <div class="p-div" th:if="${lastTitle}!=null">
                    <span class="fl">上一篇：</span>
                    <a class="one-line-overflow fl" th:href="'/detail?id='+${lastId}"
                       id="prev-a">[[${lastTitle}]]</a>
                </div>

                <div class="n-div" th:if="${nextTitle}!=null">
                    <span class="fl">下一篇：</span>
                    <a class="one-line-overflow fl" th:href="'/detail?id='+${nextId}"
                       id="next-a">[[${nextTitle}]]</a>
                </div>
            </div>
        </div>

    </div>
</section>

<!--尾部-->
<div th:replace="index/common/_footer::footer"></div>
<!--脚本-->
<script type="text/javascript" th:src="@{~/index/js/jquery-3.4.1.min.js}"></script>
<script type="text/javascript" th:src="@{~/index/js/article-detail.js}"></script>
<script type="text/javascript" th:src="@{~/index/js/global.js}"></script>
</body>

</html>