<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="HandheldFriendly" content="true">
    <meta charset="UTF-8">
    <title>[[${article.title}]]</title>
    <!--样式-->
    <link rel="stylesheet" type="text/css" th:href="@{~/index/css/global.css}">
    <link rel="stylesheet" type="text/css" th:href="@{~/index/css/article-detail.css}">
    <link rel="stylesheet" th:href="@{~/index/css/code.css}">
    <link rel="stylesheet" th:href="@{~/index/css/github-markdown.css}">
    <link rel="stylesheet" th:href="@{~/index/css/vditor.classic.css}"/>
    <link rel="shortcut icon" th:href="@{~/index/img/favicon.ico}"/>
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>

<body>
<!--导航栏-->
<div class="nav-bar-holder">
    <div class="nav-bar" id="nav-bar">
        <div class="logo-box">
            <a href="" class="blog-title ta-c"><img style="vertical-align: top;" alt="logo"
                                                    th:src="@{~/index/img/logo.jpg}"/>
            </a>
        </div>

        <div class="nb-a-holder" id="home"><a class="nb-a ta-c" href="index">首页</a></div>
        <div class="nb-a-holder">
            <a class="nb-a ta-c" href="category">分类</a>
            <ul id="category-ul" class="nav-ul" style="display: none;">

            </ul>
        </div>
        <div class="nb-a-holder"><a class="nb-a ta-c" href="archive">归档</a></div>
        <div class="nb-a-holder"><a class="nb-a ta-c" href="link">友情链接</a></div>

        <div id="search-nb">
        <span class="search-s fl">
          <label for="search-input"></label><input class="fl" type="text" id="search-input" placeholder="请输入关键字">
          <a class="search-icon fl" onclick="" href="search"></a>
        </span>
        </div>
    </div>
</div>

<div class="mobile-nav">
    <div class="logo-box">
        <a href="/" class="blog-title ta-c">
            <img style="vertical-align: top;" alt="logo" th:src="@{~/index/img/logo.jpg}"/></a>
    </div>
    <a id="mobile_cate" th:attr="style='background-image:url('+@{~/index/img/cate.svg}+')'" href="javascript:void(0);"
       onclick="show_nav()"></a>
</div>

<ul id="nav-m-list" style="display: none;">
    <li><a href="/">首页</a></li>
    <li><a href="category">分类</a></li>
    <li><a href="archive">归档</a></li>
    <li><a href="link">友情链接</a></li>
    <li>
      <span class="search-s fl">
        <label for="search-input-m"></label><input class="fl" type="text" id="search-input-m" placeholder="关键词">
        <a class="search-icon fl" onclick="" href="search"></a>
      </span>
    </li>
</ul>
<!-- 导航栏结束 -->

<!--主体-->
<section class="main">
    <input hidden id="user_id" name="user_id" value="">
    <input hidden id="article_id" name="article_id" value="24">
    <div class="left-box">

        <div class="article-container">
            <div class="sort-box">
                <span class="location fl c-666">
                    <span class="at-sort-detail c-666">当前位置：
                      <a href="/">首页</a> >
                      <a th:href="'/category?cid='+${article.cateId}">[[${article.cateName}]]</a>
                    </span>
                </span>
            </div>
            <div class="article-content markdown-body">

                <h1 style="margin: 10px 0">[[${article.title}]]</h1>
                <div class="writer-info">
                    <span style="margin: 5px 0;">作者: </span>
                    <span id="writer">admin </span>
                    <span id="write-time">[[${article.createTime}]]</span>
                </div>
                <div th:utext="${article.content}">
                </div>
            </div>

            <div class="prev-next">
                <div class="p-div" th:if="${lastTitle}!=null">
                    <span class="fl">上一篇：</span>
                    <a class="one-line-overflow fl" th:href="'/detail?id='+${lastId}"
                       id="prev-a">[[${lastTitle}]]</a>
                </div>

                <div class="n-div" th:if="${nextTitle}!=null">
                    <span class="fl">下一篇：</span>
                    <a class="one-line-overflow fl" th:href="'/detail?id='+${nextId}"
                       id="next-a">[[${lastTitle}]]</a>
                </div>
            </div>
        </div>

    </div>
</section>

<!--尾部-->
<div class="footer">
    <div class="footer-line">Designed By 苍茫误此生 | Copyright © 2019</div>
    <div class="footer-line">站长统计</div>
</div>

<!--脚本-->
<script type="text/javascript" th:src="@{~/index/js/jquery-3.4.1.min.js}"></script>
<!--<script type="text/javascript" th:src="@{~/index/js/vditor.min.js}"></script>-->
<script type="text/javascript" th:src="@{~/index/js/article-detail.js}"></script>
<script type="text/javascript" th:src="@{~/index/js/global.js}"></script>
</body>

</html>