<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>分类</title>
    <div th:replace="index/common/_meta::header"></div>
</head>

<body>
    <!--导航栏-->
    <div class="nav-bar-holder">
        <div class="nav-bar" id="nav-bar">
            <div class="logo-box">
                <a href="" class="blog-title ta-c">
                    <img alt="logo" th:src="@{~/index/img/logo.jpg}" />
                </a>
            </div>

            <div class="nb-a-holder" id="home"><a class="nb-a ta-c" href="/">首页</a></div>
            <div class="nb-a-holder">
                <a class="nb-a ta-c" id="active" href="category">分类</a>
                <ul id="category-ul" class="nav-ul" style="display: none;"></ul>
            </div>
            <div class="nb-a-holder"><a class="nb-a ta-c" href="archive">归档</a></div>
            <div class="nb-a-holder"><a class="nb-a ta-c" href="link">友情链接</a></div>

            <div id="search-nb">
                <span class="search-s fl">
                    <label for="search-input"></label><input class="fl" type="text" id="search-input"
                        placeholder="请输入关键字">
                    <a class="search-icon fl" onclick="" href="search"></a>
                </span>
            </div>
        </div>
    </div>
    <!-- 导航栏结束 -->

    <!-- 移动端导航栏 -->
    <div class="mobile-nav">
        <div class="logo-box">
            <a href="/" class="blog-title ta-c">
                <img alt="logo" th:src="@{~/index/img/logo.jpg}" /></a>
        </div>
        <a id="mobile_cate" th:attr="style='background-image:url('+@{~/index/img/cate.svg}+')'" href="javascript:void(0);"
           onclick="show_nav()"></a>
    </div>

    <ul id="nav-m-list" style="display: none;">
        <li><a href="index">首页</a></li>
        <li><a href="category">分类</a></li>
        <li><a href="archive">归档</a></li>
        <li><a href="link">友情链接</a></li>
        <li>
            <span class="search-s fl">
                <label for="search-input-m"></label><input class="fl" type="text" id="search-input-m" placeholder="关键词">
                <a class="search-icon fl" onclick="" href="search"></a>
            </span>
        </li>
    </ul>
    <!-- 移动端导航栏结束 -->

    <!--主体-->
    <div class="big-container">
        <article class="article">

            <!--左容器-->
            <div class="right-holder">

                <div class="column-container">
                    <ul class="column_box" id="like-box">
                        <li class="column-title b-b-ece c-29">文章分类</li>

                        <li class="column-category b-b-ece" th:each="cate:${categoryList}">

                            <a th:href="'category?cid='+${cate.id}">
                                [[${cate.name}]]&nbsp;&nbsp;[[${cate.ArticleNum}]]&nbsp;篇
                            </a>

                        </li>

                    </ul>
                </div>

            </div>

            <!--右容器-->
            <div class="result-box fl">
                <!--文章内容-->
                <div id="article-holder" style="width: 100%; float: left">

                    <div class="article-box" th:each = "article:${articleList}">
                        <div class="ab-content">
                            <div class="article-title"> <a th:href="'detail?id='+${article.id}">[[${article.title}]]</a> </div>
                            <div class="article-cate"><a th:href="'category?cid='+${article.cateId}">[[${article
                                .cateName}]]</a>
                            </div>
                            <a th:href="'detail?id='+${article.id}" class="article-img-box">
                                <img class="article-img" alt=""
                                    th:src="${uploadLocation}+'/'+${article.image}">
                            </a>
                            <div class="article-detail-box c-666">
                                [[${article.desc}]] </div> <span class="article-tail-box"> <i class="fl"
                                    style="background-image: url('../../static/index/img/read-index.svg')"></i>
                                 <span class="article-date c-999">[[${article.createTime}]]</span> <span
                                    class="article-author one-line-overflow c-999">admin</span>
                            </span>
                        </div>
                    </div>

                </div>

                <!--分页指示器-->
                <div id="pagination" class="pagination fl"></div>
            </div>

        </article>
    </div>

    <!--尾部-->
    <div class="footer">
        <div class="footer-line">Designed By 苍茫误此生 | Copyright © 2019</div>
        <div class="footer-line">站长统计</div>
    </div>
    <!--脚本-->
    <script type="text/javascript" th:src="@{~/index/js/jquery-3.4.1.min.js}"></script>
    <script type="text/javascript" th:src="@{~/index/js/global.js}"></script>
    <script type="text/javascript" th:src="@{~/index/js/myPagination.js}"></script>
    <script type="text/javascript">
        function getQueryString(name) {
            var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)", "i");
            var l = decodeURI(window.location.search);
            var r = l.substr(1).match(reg);
            if (r != null) return unescape(r[2]);
            return null;
        }
        const cid = getQueryString("cid")
        const dataTotal = [[${ArticleCount}]]
        const curpage = [[${curpage}]]
        const pageTotal = Math.ceil(dataTotal / 5)
        const pagination = new myPagination({
            id: 'pagination',
            curPage: curpage, //初始页码
            pageTotal: pageTotal, //总页数
            pageAmount: 5,  //每页多少条
            dataTotal: dataTotal, //总共多少条数据
            pageSize: 3, //可选,分页个数
            showPageTotalFlag: true, //是否显示数据统计
            getPage: function (page) {
                if (cid==null){
                    window.location.href = "?page=" + page;
                }else{
                    window.location.href = "?cid=" + cid + "&page=" + page;
                }
            }
        });
    </script>
</body>

</html>