<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>友情链接</title>
    <link rel="stylesheet" type="text/css" th:href="@{~/index/css/link.css}" />
    <div th:replace="index/common/_meta::header"></div>
</head>

<body>
<div th:replace="index/common/_header::header(link)"></div>

    <!--主体-->
    <div class="big-container">
        <article class="article">

            <!--友情链接-->
            <ul class="link-box">

                <li th:each="link:${linkList}">
                    <a th:href="${link.href}" target="_blank">[[${link.name}]]</a>
                </li>

            </ul>

        </article>
    </div>

    <!--尾部-->
    <div th:replace="index/common/_footer::footer"></div>
    <!--脚本-->
    <script type="text/javascript" th:src="@{~/index/js/jquery-3.4.1.min.js}"></script>
    <script type="text/javascript" th:src="@{~/index/js/global.js}"></script>
</body>

</html>