<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="HandheldFriendly" content="true">
    <meta charset="UTF-8">
    <title>友情链接</title>
    <!--样式-->
    <link rel="stylesheet" type="text/css" th:href="@{~/index/css/global.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{~/index/css/index.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{~/index/css/link.css}" />
    <link rel="shortcut icon" th:href="@{~/index/img/favicon.ico}"/>
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    <!--导航栏-->
    <div class="nav-bar-holder">
        <div class="nav-bar" id="nav-bar">
            <div class="logo-box">
                <a href="" class="blog-title ta-c">
                    <img alt="logo" th:src="@{~/index/img/logo.jpg}" />
                </a>
            </div>

            <div class="nb-a-holder" id="home"><a class="nb-a ta-c" href="/">首页</a></div>
            <div class="nb-a-holder">
                <a class="nb-a ta-c" href="category">分类</a>
            </div>
            <div class="nb-a-holder"><a class="nb-a ta-c" href="archive">归档</a></div>
            <div class="nb-a-holder"><a id="active" class="nb-a ta-c" href="link">友情链接</a></div>

            <div id="search-nb">
                <span class="search-s fl">
                    <label for="search-input"></label><input class="fl" type="text" id="search-input"
                        placeholder="请输入关键字">
                    <a class="search-icon fl" onclick="" href="search"></a>
                </span>
            </div>
        </div>
    </div>
    <!-- 导航栏结束 -->

    <!-- 移动端导航栏 -->
    <div class="mobile-nav">
        <div class="logo-box">
            <a href="/" class="blog-title ta-c">
                <img alt="logo" th:src="@{~/index/img/logo.jpg}" />
            </a>
        </div>
        <a id="mobile_cate" th:attr="style='background-image:url('+@{~/index/img/cate.svg}+')'" href="javascript:void(0);"
           onclick="show_nav()"></a>
    </div>

    <ul id="nav-m-list" style="display: none;">
        <li><a href="index">首页</a></li>
        <li><a href="category">分类</a></li>
        <li><a href="archive">归档</a></li>
        <li><a href="link">友情链接</a></li>
        <li>
            <span class="search-s fl">
                <label for="search-input-m"></label><input class="fl" type="text" id="search-input-m" placeholder="关键词">
                <a class="search-icon fl" onclick="" href="search"></a>
            </span>
        </li>
    </ul>
    <!-- 移动端导航栏结束 -->

    <!--主体-->
    <div class="big-container">
        <article class="article">

            <!--友情链接-->
            <ul class="link-box">

                <li th:each="link:${linkList}">
                    <a th:href="${link.href}" target="_blank">[[${link.name}]]</a>
                </li>

            </ul>

        </article>
    </div>

    <!--尾部-->
    <div class="footer">
        <div class="footer-line">Designed By 苍茫误此生 | Copyright © 2019</div>
        <div class="footer-line">站长统计</div>
    </div>

    <!--脚本-->
    <script type="text/javascript" th:src="@{~/index/js/jquery-3.4.1.min.js}"></script>
    <script type="text/javascript" th:src="@{~/index/js/global.js}"></script>
</body>

</html>