<aside class="Hui-aside">
	<div class="menu_dropdown bk_2">
		<dl id="menu-article">
			<dt><i class="Hui-iconfont">&#xe616;</i> 文章管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li><a data-href="/admin/categoryList" data-title="分类管理" href="javascript:void(0)">分类管理</a></li>
					<li><a data-href="/admin/articleList" data-title="文章管理" href="javascript:void(0)">文章管理</a></li>
				</ul>
			</dd>
		</dl>
		<dl id="menu-link">
			<dt><i class="Hui-iconfont">&#xe64b;</i> <a data-href="/admin/linkList" data-title="友链设置" href="javascript:void(0)" style="text-decoration: none;">友链设置</a></dt>
		</dl>
		<dl id="menu-system">
			<dt><i class="Hui-iconfont">&#xe62e;</i> <a data-href="/admin/system" data-title="系统设置" href="javascript:void(0)" style="text-decoration: none;">系统设置</a></dt>
		</dl>
	</div>
</aside>
<div class="dislpayArrow hidden-xs"><a class="pngfix" href="javascript:void(0);" onClick="displaynavbar(this)"></a></div>